:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rotate {
  width: 100px;
  animation: rotation 2s infinite linear;
}